<div id="deleteAccountModel" class="delete-account-model">
    <div class="delete-box">
        <div class="delete-card">
            <div class="da-text-card">
                <p class="delete-title">잠깐만요</p>
                <p class="delete-message">
                    탈퇴 시 계정 및 이용 기록은 모두<br>
                    삭제되며, 삭제된 데이터는 복구가<br>
                    불가능합니다. 탈퇴를 진행할까요?
                </p>
            </div>
            <div class="da-btn-card">
                <button id="deleteConfirm">
                    탈퇴할게요
                </button>
                <button id="deleteCancel">
                    취소
                </button>
            </div>
        </div>
    </div>
</div>