.mypage-main {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 158.918px;
    width: 100%;
    height: 100%;
    padding-top: 44px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid var(--Foundation-Violet-Normal, #1A1953);
    background: #F9F9F9;
}

.elements-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
    width: 345.5px;
}

.large-title {
    align-self: stretch;
    color: var(--Foundation-Violet-Normal, #1A1953);
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.5px;
}

.elements-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 119px;
    align-self: stretch;
}

.user-info,
.more-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.user-info p,
.more-menu p {
    color: var(--foundation-violet-light-active, #B8B8CA);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    font-feature-settings: 'liga' off, 'clig' off;
}

.user-info button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: var(--Foundation-Violet-Light, #E8E8EE);
    text-align: left;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    font-feature-settings: 'liga' off, 'clig' off;
    cursor: pointer;
}

.more-menu button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: var(--Foundation-Violet-Light, #E8E8EE);
    cursor: pointer;
}

.more-menu button span {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    font-feature-settings: 'liga' off, 'clig' off;
}

.more-menu button img {
    width: 20px;
    height: 20px;
}